src/
pkg/
dist/
.idea/

# downloaded sources
Codex.dmg
better-sqlite3-*.tgz
node-pty-*.tgz

# built artifacts
*.pkg.tar.zst
*.pkg.tar.zst.sig

.codex
codex-app-linux-x86_64.tar.gz.sha256
codex-app-linux-x86_64.tar.gz
