pkgbase = codex-app
	pkgdesc = Linux package of Codex Desktop
	pkgver = 1.0.22
	pkgrel = 1
	url = https://developers.openai.com/codex/app/
	arch = x86_64
	license = MIT
	makedepends = libicns
	makedepends = nodejs
	makedepends = npm
	makedepends = p7zip
	depends = electron39
	depends = python
	depends = hicolor-icon-theme
	depends = xdg-utils
	noextract = Codex.dmg
	source = Codex.dmg::https://persistent.oaistatic.com/codex-app-prod/Codex.dmg
	source = codex-app.sh
	source = codex-app.desktop
	sha256sums = a9dd0b0b1a05686ed1f0092cbb1325773859dedf75ab31b35ca46656b2b92cb6
	sha256sums = c6c7a3f61e963020d1cfeb1b6f56e42d89b98e4c0e8f9af73a84ade8b518ff59
	sha256sums = 7d4460887df563d7fd5465db0ff950fb9a0b119556c9d659302359f8b12c6a7a

pkgname = codex-app
