pkgbase = codex-app
	pkgdesc = Linux package of Codex Desktop
	pkgver = 1.0.3
	pkgrel = 1
	url = https://developers.openai.com/codex/app/
	arch = x86_64
	license = custom
	makedepends = libicns
	makedepends = nodejs
	makedepends = npm
	makedepends = p7zip
	depends = electron39
	depends = python
	depends = hicolor-icon-theme
	depends = xdg-utils
	noextract = Codex.dmg
	noextract = better-sqlite3-12.5.0.tgz
	noextract = node-pty-1.1.0.tgz
	source = Codex.dmg::https://persistent.oaistatic.com/codex-app-prod/Codex.dmg
	source = better-sqlite3-12.5.0.tgz::https://registry.npmjs.org/better-sqlite3/-/better-sqlite3-12.5.0.tgz
	source = node-pty-1.1.0.tgz::https://registry.npmjs.org/node-pty/-/node-pty-1.1.0.tgz
	source = codex-app.sh
	source = codex-app.desktop
	sha256sums = 8fb2a3f2b040968ef44b74d6f23c2ecc087de4bac93ef329b58c0aeadc6c997c
	sha256sums = 0a3cd0554b063c3185b9912ef7059b84455a2e411d637faa0166fef9fefa04c2
	sha256sums = c7517f19083ddcb05f276904680eb2b11a6b5ecab778b8e4e5685a6d645b3f60
	sha256sums = c6c7a3f61e963020d1cfeb1b6f56e42d89b98e4c0e8f9af73a84ade8b518ff59
	sha256sums = 7d4460887df563d7fd5465db0ff950fb9a0b119556c9d659302359f8b12c6a7a

pkgname = codex-app
