pkgbase = codex-app-macos-port
	pkgdesc = Port Arch Linux de Codex Desktop a partir de l'application macOS
	pkgver = 26.305.950
	pkgrel = 1
	url = https://developers.openai.com/codex/app/
	arch = x86_64
	license = custom
	makedepends = libicns
	makedepends = nodejs
	makedepends = npm
	makedepends = p7zip
	depends = electron39
	depends = python
	depends = hicolor-icon-theme
	depends = xdg-utils
	noextract = Codex.dmg
	noextract = better-sqlite3-12.5.0.tgz
	noextract = node-pty-1.1.0.tgz
	source = Codex.dmg::https://persistent.oaistatic.com/codex-app-prod/Codex.dmg
	source = better-sqlite3-12.5.0.tgz::https://registry.npmjs.org/better-sqlite3/-/better-sqlite3-12.5.0.tgz
	source = node-pty-1.1.0.tgz::https://registry.npmjs.org/node-pty/-/node-pty-1.1.0.tgz
	source = codex-app.sh
	source = codex-app.desktop
	sha256sums = 681a12ac481a3100fbf402c51e156830c65a0bf6f6cc51885e68df74686bdb7b
	sha256sums = 0a3cd0554b063c3185b9912ef7059b84455a2e411d637faa0166fef9fefa04c2
	sha256sums = c7517f19083ddcb05f276904680eb2b11a6b5ecab778b8e4e5685a6d645b3f60
	sha256sums = 4218756a5a43d8847f0be48040cde54cfa2c256cfe14abb0c079f32afa6d5e2a
	sha256sums = 7708c79678281c6cf10092d07cd81e9b56a5f45b28cb1d963209a708797c8f3d

pkgname = codex-app-macos-port
